# 【课程2.2】  Pandas数据结构Series：基本概念及创建

In [1]:
import numpy as np
import pandas as pd

In [17]:
ar = np.random.randint(10,size=5)
sr = pd.Series(ar)
print(ar); print()
print(sr); print()
print(sr.index, type(sr.index))
print(list(sr.index))
print(sr.values, type(sr.values))

[4 1 3 8 9]

0    4
1    1
2    3
3    8
4    9
dtype: int64

RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[0, 1, 2, 3, 4]
[4 1 3 8 9] <class 'numpy.ndarray'>

In [20]:
sr = pd.Series(ar, index=list('abcde'))
print(sr['b'])

1

In [24]:
dc = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dc)
print(sr)

a    1
b    2
c    3
dtype: int64

In [38]:
ar = np.random.randint(10,size=10)
sr = pd.Series(ar, index=range(2,12), dtype=np.float)
print(sr)

2     4.0
3     9.0
4     4.0
5     1.0
6     4.0
7     1.0
8     6.0
9     6.0
10    4.0
11    2.0
dtype: float64

In [39]:
sr = pd.Series(10, index=range(5))
sr

0    10
1    10
2    10
3    10
4    10
dtype: int64

# 【课程2.3】  Pandas数据结构Series：索引

In [89]:
sr = pd.Series(np.random.randint(10,size=5) ,index=list('abcde'))
print(sr['b'])
print(sr[1]); print()

print(sr['a':'c'])
print(sr[0:3]); print()

print(sr[['b','c','a']])
print(sr[[1, 2, 0]])

7
7

a    6
b    7
c    5
dtype: int64
a    6
b    7
c    5
dtype: int64

b    7
c    5
a    6
dtype: int64
b    7
c    5
a    6
dtype: int64

# 【课程2.4】  Pandas数据结构Series：基本技巧

In [90]:
sr = pd.Series(np.random.randint(10, size=5), index=list('abcde'))
print(sr)

a    4
b    8
c    5
d    6
e    3
dtype: int64

In [97]:
sr_reinx = sr.reindex(list('cdefg'))
print(sr_reinx); print()

sr_reinx = sr.reindex(list('cdefg'), fill_value='newValue')
print(sr_reinx)

c    5.0
d    6.0
e    3.0
f    NaN
g    NaN
dtype: float64

c           5
d           6
e           3
f    newValue
g    newValue
dtype: object

In [101]:
sr_1 = pd.Series(np.random.randint(20, size=3), index=['Jack','Marry','Tom'])
sr_2 = pd.Series(np.random.randint(20, size=3), index=['Wang','Jack','Marry'])
print(sr_1)
print(sr_2); print()
print(sr_1 + sr_2)

Jack     10
Marry    18
Tom       1
dtype: int64
Wang     16
Jack     17
Marry    15
dtype: int64

Jack     27.0
Marry    33.0
Tom       NaN
Wang      NaN
dtype: float64

In [113]:
sr = pd.Series(np.random.randint(100, size=5), index=list('abcde'))
print(sr); print('--------')

sr_1 = sr.drop('a')
print(sr_1); print()
print(sr); print('--------')

sr_2 = sr.drop(['a','c'], inplace=True)
print(sr_2); print()                       # sr_2不存在
print(sr)

a    88
b    36
c    65
d    22
e    38
dtype: int64
--------
b    36
c    65
d    22
e    38
dtype: int64

a    88
b    36
c    65
d    22
e    38
dtype: int64
--------
None

b    36
d    22
e    38
dtype: int64

# 【课程2.5】  Pandas数据结构Dataframe：基本概念及创建

In [143]:
# Dataframe 创建方法一：由数组/list组成的字典

data = {'name':['Jack', 'Tom', 'Mary'],
       'age':[18, 19, 20],
       'gender':['m', 'm', 'f']}
print(type(data)); print()
df = pd.DataFrame(data, index=range(1,4))
print(df); print()
print(df.index); print(type(df.index)); print()
print(df.columns); print(type(df.columns)); print()
print(df.values); print(type(df.values))

<class 'dict'>

   age gender  name
1   18      m  Jack
2   19      m   Tom
3   20      f  Mary

RangeIndex(start=1, stop=4, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

Index(['age', 'gender', 'name'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

[[18 'm' 'Jack']
 [19 'm' 'Tom']
 [20 'f' 'Mary']]
<class 'numpy.ndarray'>

In [151]:
# Dataframe 创建方法四：由字典组成的列表

data = [{'one':1, 'two':2}, {'one':3, 'two':4, 'thr':5}]
print(type(data),); print()
df_1 = pd.DataFrame(data); print()
df_2 = pd.DataFrame(data, index=list('ab'), columns=['one', 'two'])
print(df_1); print()
print(df_2)

<class 'list'>


   one  thr  two
0    1  NaN    2
1    3  5.0    4

   one  two
a    1    2
b    3    4

In [156]:
# Dataframe 创建方法五：由字典组成的字典

data = {'Jack':{'Math':90, 'English':89, 'Art':80},
       'Tom':{'Math':88, 'English':82, 'Art':84},
       'Mary':{'Math':80, 'English':94, 'Art':97}}
print(type(data)); print()
df = pd.DataFrame(data)
print(df); print()
df = pd.DataFrame(data, index=['English','Math','Art'])
print(df); print()
df = pd.DataFrame(data, index=[0,1,2])
print(df)
# 由嵌套字典创建DataFrame只可改变index顺序，修改index结果填充NaN

<class 'dict'>

         Jack  Mary  Tom
Art        80    97   84
English    89    94   82
Math       90    80   88

         Jack  Mary  Tom
English    89    94   82
Math       90    80   88
Art        80    97   84

   Jack  Mary  Tom
0   NaN   NaN  NaN
1   NaN   NaN  NaN
2   NaN   NaN  NaN

In [134]:
# Dataframe 创建方法二：由Series组成的字典

data = {'one':pd.Series(np.random.randint(100,size=3,), index=list('abc')),
       'two':pd.Series(np.random.randint(100,size=4), index=list('abcd'))}
df = pd.DataFrame(data)
print(df); print()
print(df.one); print(type(df.one))
# 数据index不一致时，自动用NaN补齐，且整型转为float

    one  two
a  79.0   31
b  26.0   12
c  89.0   50
d   NaN   32

a    79.0
b    26.0
c    89.0
d     NaN
Name: one, dtype: float64
<class 'pandas.core.series.Series'>

In [140]:
# Dataframe 创建方法三：通过二维数组直接创建

ar = np.random.randint(100,size=(2,3))
df_1 = pd.DataFrame(ar)
df_2 = pd.DataFrame(ar, index=list('ab'), columns=['one', 'two', 'thr'])
print(df_1); print()
print(df_2)

    0   1   2
0  96  39  77
1  92  54  54

   one  two  thr
a   96   39   77
b   92   54   54

# 【课程2.6】  Pandas数据结构Dataframe：索引

In [176]:
df = pd.DataFrame(np.random.randint(100, size=(3,5)), index=range(1, 4), columns=list('abcde'))
print(df, type(df)); print()
print(df.b, type(df.b)); print()
print(df['b'], type(df['b'])); print()
print(df.loc[1], type(df.loc[1])); print()
print(df.iloc[1], type(df.iloc[1]))

    a   b   c   d   e
1  39  29   8  30  48
2  59  59  63  59  62
3  80   9  36  62  63 <class 'pandas.core.frame.DataFrame'>

1    29
2    59
3     9
Name: b, dtype: int64 <class 'pandas.core.series.Series'>

1    29
2    59
3     9
Name: b, dtype: int64 <class 'pandas.core.series.Series'>

a    39
b    29
c     8
d    30
e    48
Name: 1, dtype: int64 <class 'pandas.core.series.Series'>

a    59
b    59
c    63
d    59
e    62
Name: 2, dtype: int64 <class 'pandas.core.series.Series'>

In [177]:
print(df.iloc[:2]); print()  # 末端不包含
print(df.loc[:2])            # 末端包含

    a   b   c   d   e
1  39  29   8  30  48
2  59  59  63  59  62

    a   b   c   d   e
1  39  29   8  30  48
2  59  59  63  59  62

In [196]:
df = pd.DataFrame(np.random.randint(100, size=(3,5)), index=range(1, 4), columns=list('abcde'))
print(df); print()

print(df[df['a']>50]); print()
print(df[df.loc[[1,3]]>50])

    a   b   c   d   e
1  39  15   9  95  81
2  70  38  97  89  44
3  97  97  91  86  55

    a   b   c   d   e
2  70  38  97  89  44
3  97  97  91  86  55

      a     b     c     d     e
1   NaN   NaN   NaN  95.0  81.0
2   NaN   NaN   NaN   NaN   NaN
3  97.0  97.0  91.0  86.0  55.0

In [209]:
df = pd.DataFrame(np.random.rand(4,4)*100, index=['one', 'two', 'thr', 'for'], columns=list('abcd'))
print(df); print()
print(df[['b','c']]); print()
print(df.iloc[[2,3]]); print()
print(df.loc[['two', 'one']]); print()
print(df[df>50])

             a          b          c          d
one  73.427047  41.086824  61.667102  54.997202
two  11.737841  22.599795  71.846137  43.918811
thr  66.883001  69.120311  56.411674  50.801262
for  58.629084  72.776482  79.857923  78.825427

             b          c
one  41.086824  61.667102
two  22.599795  71.846137
thr  69.120311  56.411674
for  72.776482  79.857923

             a          b          c          d
thr  66.883001  69.120311  56.411674  50.801262
for  58.629084  72.776482  79.857923  78.825427

             a          b          c          d
two  11.737841  22.599795  71.846137  43.918811
one  73.427047  41.086824  61.667102  54.997202

             a          b          c          d
one  73.427047        NaN  61.667102  54.997202
two        NaN        NaN  71.846137        NaN
thr  66.883001  69.120311  56.411674  50.801262
for  58.629084  72.776482  79.857923  78.825427

# 【课程2.7】  Pandas数据结构Dataframe：基本技巧

In [226]:
df = pd.DataFrame({'a':[1,1,1,1,2,2,3,3],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df); print()
print(df.sort_values(['a','c'])); print()

   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  3  6  2
7  3  7  1

   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
5  2  5  3
4  2  4  4
7  3  7  1
6  3  6  2