# 【课程2.14】  数值计算和统计基础

In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index = ['a','b','c','d','e'])
print(df)
print(df['key1'].dtype, df['key2'].dtype, df['key3'].dtype); print()
print(df.mean()); print()
print(df.mean(axis=1)); print()
print(df.mean(axis=1, skipna=False))

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k
float64 float64 object

key1    3.5
key2    3.0
dtype: float64

a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64

a    2.5
b    3.5
c    NaN
d    NaN
e    3.5
dtype: float64

In [21]:
df = pd.DataFrame({'key1':np.arange(10),
                  'key2':np.random.rand(10)*10})
print(df); print()
print(df.quantile(q=0.5))

   key1      key2
0     0  7.635358
1     1  3.764091
2     2  4.463140
3     3  1.825754
4     4  4.321943
5     5  0.426122
6     6  1.306313
7     7  9.457383
8     8  4.951559
9     9  7.711278

key1    4.500000
key2    4.392541
Name: 0.5, dtype: float64

In [27]:
df['key1_sum'] = df['key1'].cumsum()
df['key2_sum'] = df['key2'].cumsum()
df['key1_product'] = df['key1'].cumprod()
df['key2_product'] = df['key2'].cumprod()
print(df,'→ cumprod样本的累计和、累计积')
print()
print(df.cummax(),'\n\n',df.cummin(),'→ cummax,cummin分别求累计最大值，累计最小值')

   key1      key2  key1_sum   key2_sum  key1_product   key2_product
0     0  7.635358         0   7.635358             0       7.635358
1     1  3.764091         1  11.399449             0      28.740183
2     2  4.463140         3  15.862588             0     128.271447
3     3  1.825754         6  17.688342             0     234.192072
4     4  4.321943        10  22.010285             0    1012.164762
5     5  0.426122        15  22.436407             0     431.305899
6     6  1.306313        21  23.742720             0     563.420338
7     7  9.457383        28  33.200102             0    5328.481658
8     8  4.951559        36  38.151662             0   26384.292616
9     9  7.711278        45  45.862939             0  203456.608823 → cumprod样本的累计和、累计积

   key1      key2  key1_sum   key2_sum  key1_product   key2_product
0   0.0  7.635358       0.0   7.635358           0.0       7.635358
1   1.0  7.635358       1.0  11.399449           0.0      28.740183
2   2.0  7.635358       3.0  15.862588           0.0     128.271447
3   3.0  7.635358       6.0  17.688342           0.0     234.192072
4   4.0  7.635358      10.0  22.010285           0.0    1012.164762
5   5.0  7.635358      15.0  22.436407           0.0    1012.164762
6   6.0  7.635358      21.0  23.742720           0.0    1012.164762
7   7.0  9.457383      28.0  33.200102           0.0    5328.481658
8   8.0  9.457383      36.0  38.151662           0.0   26384.292616
9   9.0  9.457383      45.0  45.862939           0.0  203456.608823

    key1      key2  key1_sum  key2_sum  key1_product  key2_product
0   0.0  7.635358       0.0  7.635358           0.0      7.635358
1   0.0  3.764091       0.0  7.635358           0.0      7.635358
2   0.0  3.764091       0.0  7.635358           0.0      7.635358
3   0.0  1.825754       0.0  7.635358           0.0      7.635358
4   0.0  1.825754       0.0  7.635358           0.0      7.635358
5   0.0  0.426122       0.0  7.635358           0.0      7.635358
6   0.0  0.426122       0.0  7.635358           0.0      7.635358
7   0.0  0.426122       0.0  7.635358           0.0      7.635358
8   0.0  0.426122       0.0  7.635358           0.0      7.635358
9   0.0  0.426122       0.0  7.635358           0.0      7.635358 → cummax,cummin分别求累计最大值，累计最小值

# 【课程2.15】  文本数据

In [40]:
s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s); print()
print(s.str.count('b'), type(s.str.count('b'))); print()
print(df); print()
df['key2'] = df['key2'].str.upper()
print(df)

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object

0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64 <class 'pandas.core.series.Series'>

  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

  key1  key2
0    a   HEE
1    b    FV
2    c     W
3    d  HIJA
4    e   123
5    f   NaN

In [56]:
s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s); print()
print(s.str.split(',')); print()
print(s.str.split(',')[0]); print()
print(s.str.split(',').str[0]); print()    # 区别：[0]取index=0的object，.str[0]取每个object中第一个object

0      a,b,c
1      1,2,3
2    [a,,,c]
3        NaN
dtype: object

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object

['a', 'b', 'c']

0      a
1      1
2    NaN
3    NaN
dtype: object

In [62]:
s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s); print()
print(s.str.split(',', expand=True)); print()
print(s.str.split(',', expand=True, n=1)); print()
print(s.str.rsplit(',', expand=True, n=1))

0      a,b,c
1      1,2,3
2    [a,,,c]
3        NaN
dtype: object

     0     1     2
0    a     b     c
1    1     2     3
2  NaN  None  None
3  NaN  None  None

     0     1
0    a   b,c
1    1   2,3
2  NaN  None
3  NaN  None

     0     1
0  a,b     c
1  1,2     3
2  NaN  None
3  NaN  None

In [86]:
jack_s = {'gender':'M', 'name':'jack', 'math':'90', 'english':'90', 'art':'90'}
tom_s = {'gender':'M', 'name':'tom', 'math':'89', 'english':'89', 'art':'89'}
marry_s = {'gender':'F', 'name':'marry', 'math':'90', 'english':'90', 'art':'90'}
zack_s = {'gender':'M', 'name':'zack', 'math':'78', 'english':'78', 'art':'78'}
heheda_s = {'gender':'F', 'name':'heheda', 'math':'60', 'english':'60', 'art':'60'}

df = pd.DataFrame([jack_s, tom_s, marry_s, zack_s, heheda_s], columns=['gender', 'name', 'math', 'english', 'art'])
df['name'] = df['name'].str.capitalize()
df.columns = df.columns.str.upper()
df = df.set_index('NAME')
print(df)

       GENDER MATH ENGLISH ART
NAME
Jack        M   90      90  90
Tom         M   89      89  89
Marry       F   90      90  90
Zack        M   78      78  78
Heheda      F   60      60  60

# 【课程2.16】  合并 merge、join

In [91]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(df1, '\n', df2, '\n', df3, '\n', df4); print()
print(pd.merge(df1, df2, on='key')); print()
print(pd.merge(df3, df4, on=['key1', 'key2']))

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
     C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3
     A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1
     C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [92]:
print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))  
print('------')
# inner：默认，取交集

print(pd.merge(df3, df4, on=['key1','key2'], how = 'outer'))  
print('------')
# outer：取并集，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'left'))  
print('------')
# left：按照df3为参考合并，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'right'))  
# right：按照df4为参考合并，数据缺失范围NaN

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2
------
     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3
------
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN
------
     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [97]:
df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(df1, '\n\n', df2); print()

print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

    date2 rkey
0      0    a
1      1    b
2      2    d

   data1 lkey  date2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [102]:
df1 = pd.DataFrame({'key':list('abcdfeg'),
                   'data1':range(7)})
df2 = pd.DataFrame({'date2':range(100,105)},
                  index = list('abcde'))
print(df1, '\n\n', df2); print()
# df2 = df2.reset_index(); print(df2)
print(pd.merge(df1, df2, left_on='key', right_index=True))

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   f
5      5   e
6      6   g

    date2
a    100
b    101
c    102
d    103
e    104

   data1 key  date2
0      0   a    100
1      1   b    101
2      2   c    102
3      3   d    103
5      5   e    104

# 【课程2.17】  连接与修补 concat、combine_first

In [137]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([2,3,4])
s3 = pd.Series([1,2,3],index = ['a','c','h'])
s4 = pd.Series([2,3,4],index = ['b','e','d'])
print(s1); print(s2); print()
s_cat = pd.concat([s1, s2])
print(s_cat, type(s_cat), '➡️default'); print()
s_cat = pd.concat([s1, s2]).sort_index()
print(s_cat, '➡️sort index'); print()
s_cat = pd.concat([s1, s2], keys=['One', 'Two'])
print(s_cat, '➡️key 层次'); print()
s_cat = pd.concat([s1, s2], axis=1, keys=['One', 'Two'])
print(s_cat, type(s_cat), '➡️以列合并，结构类型变为DataFrame')

0    1
1    2
2    3
dtype: int64
0    2
1    3
2    4
dtype: int64

0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64 <class 'pandas.core.series.Series'> ➡️default

0    1
0    2
1    2
1    3
2    3
2    4
dtype: int64 ➡️sort index

One  0    1
     1    2
     2    3
Two  0    2
     1    3
     2    4
dtype: int64 ➡️key 层次

   One  Two
0    1    2
1    2    3
2    3    4 <class 'pandas.core.frame.DataFrame'> ➡️以列合并，结构类型变为DataFrame

In [146]:
df1 = pd.DataFrame([[np.nan, 1, 2], [3, np.nan, np.nan],[np.nan, 4, np.nan]])
df2 = pd.DataFrame([[5, np.nan, 6], [7, 8, 9]],index=[1, 2])
print(df1); print(df2); print()
df_cf = df1.combine_first(df2)
print(df_cf, '➡️combine_first生成新DataFrame'); print()
print(df1, '➡️combine_first不改变原DataFrame'); print()
df_ud = df1.update(df2)
print(df_ud, '➡️update不生成新DataFrame'); print()
# print(df1.update(df2), '➡️update改变原DataFrame')
print(df1, '➡️update改变原DataFrame')

     0    1    2
0  NaN  1.0  2.0
1  3.0  NaN  NaN
2  NaN  4.0  NaN
   0    1  2
1  5  NaN  6
2  7  8.0  9

     0    1    2
0  NaN  1.0  2.0
1  3.0  NaN  6.0
2  7.0  4.0  9.0 ➡️combine_first生成新DataFrame

     0    1    2
0  NaN  1.0  2.0
1  3.0  NaN  NaN
2  NaN  4.0  NaN ➡️combine_first不改变原DataFrame

None ➡️update不生成新DataFrame

     0    1    2
0  NaN  1.0  2.0
1  5.0  NaN  6.0
2  7.0  8.0  9.0 ➡️update改变原DataFrame

# 【课程2.18】  去重及替换

In [154]:
s = pd.Series([1,1,2,2,2,3,4,5,5])
print(s); print()

s_dup = s.duplicated()
print(s_dup); print(s); print()
print(s[s.duplicated()==False]); print()
print(s.unique())

0    1
1    1
2    2
3    2
4    2
5    3
6    4
7    5
8    5
dtype: int64

0    False
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8     True
dtype: bool
0    1
1    1
2    2
3    2
4    2
5    3
6    4
7    5
8    5
dtype: int64

0    1
2    2
5    3
6    4
7    5
dtype: int64

[1 2 3 4 5]

In [156]:
s = pd.Series([1,1,2,2,2,3,4,5,5])
s_dup = s.drop_duplicates()
print(s_dup); print()
print(s)

0    1
2    2
5    3
6    4
7    5
dtype: int64

0    1
1    1
2    2
3    2
4    2
5    3
6    4
7    5
8    5
dtype: int64

In [160]:
df = pd.DataFrame({'key1':['a','a',3,4,5],
                  'key2':['a','a','b','b','c']})
print(df); print()
print(df.duplicated()); print()
print(df['key2'].duplicated())

  key1 key2
0    a    a
1    a    a
2    3    b
3    4    b
4    5    c

0    False
1     True
2    False
3    False
4    False
dtype: bool

0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool

In [162]:
s = pd.Series(list('ascaazsd'))
dic = {'a':'A.', 's':'S.'}
print(s.replace(dic))

0    A.
1    S.
2     c
3    A.
4    A.
5     z
6    S.
7     d
dtype: object

# 【课程2.19】  数据分组

In [174]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df); print()
print(df.groupby('A')); print()
print(df.groupby('A').sum()); print()
print(df.groupby(['A', 'B']).sum()); print()
print(df)

     A      B         C         D
0  foo    one -0.737820  0.120750
1  bar    one  2.087435 -0.977280
2  foo    two -0.887363 -0.306335
3  bar  three -2.186794  2.231988
4  foo    two  0.726514  0.782597
5  bar    two -0.114476 -0.007247
6  foo    one  0.253123 -0.295783
7  foo  three -0.475293 -0.531209

<pandas.core.groupby.DataFrameGroupBy object at 0x112609320>

            C        D
A
bar -0.213835  1.24746
foo -1.120839 -0.22998

                  C         D
A   B
bar one    2.087435 -0.977280
    three -2.186794  2.231988
    two   -0.114476 -0.007247
foo one   -0.484697 -0.175032
    three -0.475293 -0.531209
    two   -0.160849  0.476262

     A      B         C         D
0  foo    one -0.737820  0.120750
1  bar    one  2.087435 -0.977280
2  foo    two -0.887363 -0.306335
3  bar  three -2.186794  2.231988
4  foo    two  0.726514  0.782597
5  bar    two -0.114476 -0.007247
6  foo    one  0.253123 -0.295783
7  foo  three -0.475293 -0.531209

In [193]:
df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df); print()
print(list(df.groupby(['X']))); print()

for i,v in df.groupby(['X']):
    print(i,':')
    print(v, type(v))

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2

[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)]

A :
   X  Y
0  A  1
2  A  3 <class 'pandas.core.frame.DataFrame'>
B :
   X  Y
1  B  4
3  B  2 <class 'pandas.core.frame.DataFrame'>

In [226]:
gb = df.groupby(['X'])
print(gb.get_group('A')); print()
print(gb.get_group('B')); print()
print(gb.groups); print()

   X  Y
0  A  1
2  A  3

   X  Y
1  B  4
3  B  2

{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}

In [228]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df); print()
gb = df.groupby(['A', 'B']).groups
print(gb)

     A      B         C         D
0  foo    one -0.089019  0.308939
1  bar    one  0.862563 -2.482975
2  foo    two  0.203014 -0.582764
3  bar  three -0.629736 -0.847127
4  foo    two  0.238451 -0.899152
5  bar    two -0.863280  0.713257
6  foo    one -1.415429 -0.503119
7  foo  three -0.418877  0.005066

{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}

In [245]:
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'])
print(df); print()
mapping = {'a':'One', 'b':'One', 'c':'Two', 'd':'Two'}
gb = df.groupby(mapping, axis=1)
print(gb); print()
print(gb.sum()); print()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

<pandas.core.groupby.DataFrameGroupBy object at 0x112258710>

   One  Two
0    1    5
1    9   13
2   17   21
3   25   29

In [246]:
s = pd.Series(mapping)
print(s); print()
print(s.groupby(s).groups)

a    One
b    One
c    Two
d    Two
dtype: object

{'One': Index(['a', 'b'], dtype='object'), 'Two': Index(['c', 'd'], dtype='object')}

In [256]:
df = pd.DataFrame(np.arange(16).reshape(4, 4),
                  columns = ['a','b','c','d'],
                 index = ['abc','bcd','aa','b'])
print(df); print()
print(df.groupby(len).sum())

      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15

    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

In [273]:
df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4)})
print(df); print()
print(df.groupby('a').agg({np.mean, np.sum, np.std}))

   a         b         c         d
0  1  0.836980  0.056584  0.376991
1  1  0.511656  0.137504  0.929226
2  2  0.976842  0.431913  0.813916
3  2  0.711334  0.834051  0.226695

          b                             c                             d  \
        sum      mean       std       sum      mean       std       sum
a
1  1.348635  0.674318  0.230039  0.194088  0.097044  0.057219  1.306218
2  1.688176  0.844088  0.187742  1.265964  0.632982  0.284354  1.040611


       mean       std
a
1  0.653109  0.390489
2  0.520306  0.415229

# 【课程2.20】  分组转换及一般性“拆分-应用-合并”

In [285]:
df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df); print()
k_mean = df.groupby('key1').mean()
print(k_mean); print()
k_mean = k_mean.reset_index()
print(pd.merge(df, k_mean, how='outer', left_on='key1', right_on='key1')); print()

      data1     data2 key1 key2
0  0.154800  0.798241    a  one
1  0.928742  0.906948    a  two
2  0.950318  0.596550    b  one
3  0.384909  0.271952    b  two
4  0.840398  0.956130    a  one

         data1     data2
key1
a     0.641313  0.887106
b     0.667614  0.434251

    data1_x   data2_x key1 key2   data1_y   data2_y
0  0.154800  0.798241    a  one  0.641313  0.887106
1  0.928742  0.906948    a  two  0.641313  0.887106
2  0.840398  0.956130    a  one  0.641313  0.887106
3  0.950318  0.596550    b  one  0.667614  0.434251
4  0.384909  0.271952    b  two  0.667614  0.434251

In [296]:
print(df); print()
print(df.groupby('key1').transform(np.mean))

      data1     data2 key1 key2
0  0.486100  0.681181    a  one
1  0.195051  0.184083    a  two
2  0.274368  0.482163    b  one
3  0.865634  0.728149    b  two
4  0.200312  0.530165    a  one

      data1     data2
0  0.293821  0.465143
1  0.293821  0.465143
2  0.570001  0.605156
3  0.570001  0.605156
4  0.293821  0.465143

In [290]:
df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df); print()
print(df.groupby('key1').apply(lambda x: x.describe()))

      data1     data2 key1 key2
0  0.486100  0.681181    a  one
1  0.195051  0.184083    a  two
2  0.274368  0.482163    b  one
3  0.865634  0.728149    b  two
4  0.200312  0.530165    a  one

               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.293821  0.465143
     std    0.166539  0.254848
     min    0.195051  0.184083
     25%    0.197682  0.357124
     50%    0.200312  0.530165
     75%    0.343206  0.605673
     max    0.486100  0.681181
b    count  2.000000  2.000000
     mean   0.570001  0.605156
     std    0.418089  0.173938
     min    0.274368  0.482163
     25%    0.422185  0.543660
     50%    0.570001  0.605156
     75%    0.717818  0.666652
     max    0.865634  0.728149

In [313]:
def fun_1(adf, col, loc):
    return (adf[col].sort_values(ascending=False)[:loc])

print(df.groupby('key1').apply(fun_1, 'data2', 1))

key1
a     0    0.681181
b     3    0.728149
Name: data2, dtype: float64

# 【课程2.21】  透视表及交叉表

In [326]:
date = ['2017-5-1','2017-5-2','2017-5-3']*3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                   'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df); print()

print(pd.pivot_table(df, index='date', columns='key', values='values', aggfunc=np.sum)); print()
print(pd.pivot_table(df, index=['date', 'key'], aggfunc=np.sum))

        date key    values
0 2017-05-01   a  0.251046
1 2017-05-02   b  4.192200
2 2017-05-03   c  2.996111
3 2017-05-01   d  8.083653
4 2017-05-02   a  2.450088
5 2017-05-03   b  7.304014
6 2017-05-01   c  1.511305
7 2017-05-02   d  8.533579
8 2017-05-03   a  3.380187

key                a         b         c         d
date
2017-05-01  0.251046       NaN  1.511305  8.083653
2017-05-02  2.450088  4.192200       NaN  8.533579
2017-05-03  3.380187  7.304014  2.996111       NaN

                  values
date       key
2017-05-01 a    0.251046
           c    1.511305
           d    8.083653
2017-05-02 a    2.450088
           b    4.192200
           d    8.533579
2017-05-03 a    3.380187
           b    7.304014
           c    2.996111

In [342]:
df = pd.DataFrame({'A': [1, 2, 2, 2, 2],
                   'B': [3, 3, 4, 4, 4],
                   'C': [1, 1, np.nan, 1, 1]})
print(df); print()
print(pd.crosstab(df['A'], df['B']), '➡️ 当B=3时，A=1出现1次，A=2出现1次；当B=4时，A=1出现0次，A=2出现3次'); print()
print(pd.crosstab(df['B'], df['A']), '➡️ A=1,B=3出现1次, A=2,B=3出现1次, A=1,B=40次, A=2,B=4出现3次'); print()
print(pd.crosstab(df['B'], df['A'], margins=True), '➡️ 计算边际和'); print()
print(pd.crosstab(df['B'], df['A'], normalize=True), '➡️ 出现频率'); print()
print(pd.crosstab(df['B'], df['A'], values=df['C'], aggfunc=np.sum), '➡️ 计算A=x,B=y下C的和')

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0

B  3  4
A
1  1  0
2  1  3 ➡️ 当B=3时，A=1出现1次，A=2出现1次；当B=4时，A=1出现0次，A=2出现3次

A  1  2
B
3  1  1
4  0  3 ➡️ A=1,B=3出现1次, A=2,B=3出现1次, A=1,B=40次, A=2,B=4出现3次

A    1  2  All
B
3    1  1    2
4    0  3    3
All  1  4    5 ➡️ 计算边际和

A    1    2
B
3  0.2  0.2
4  0.0  0.6 ➡️ 出现频率

A    1    2
B
3  1.0  1.0
4  NaN  2.0 ➡️ 计算A=x,B=y下C的和